# Default owner
* @vbystricky21

# Sensitive paths require owner review
/buildspec.yml      @vbystricky21
/infra/             @vbystricky21
/.github/           @vbystricky21
/gradle/            @vbystricky21
/gradlew            @vbystricky21
/gradlew.bat        @vbystricky21
